<div class="container">
  <h2>JS Cheat Sheet</h2>

  <table class="table table-bordered table-hover js-equality-table">
    <thead>
      <tr>
        <th style="width: 210px"></th>
        <th class="rotate" ng-repeat="testSnippet in testSnippets">
          <div><span>{{ testSnippet }}</span></div>
        </th>
      </tr>
    </thead>
    <tbody>
      <tr ng-repeat="initSnippet in initSnippets">
        <td>{{ initSnippet }}</td>
        <td ng-repeat="testSnippet in testSnippets">
          {{ evalSnippet(initSnippet, testSnippet) }}
        </td>
      </tr>
    </tbody>
  </table>
</div>
