<div class="container">
  <h2>JS Cheat Sheet</h2>

  <table class="table table-bordered" style="font-size: 12px">
    <thead>
      <tr>
        <th style="width: 250px"></th>
        <th ng-repeat="testSnippet in testSnippets" style="width: {{ testSnippet.width }};">
          {{ testSnippet.test }}
        </th>
      </tr>
    </thead>
    <tbody>
      <tr ng-repeat="initSnippet in initSnippets">
        <td>{{ initSnippet }}</td>
        <td ng-repeat="testSnippet in testSnippets">
          {{ evalSnippet(initSnippet, testSnippet.test) }}
        </td>
      </tr>
    </tbody>
  </table>
</div>
